.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.name
*.name
.idea/compiler.xml
.idea/gradle.xml
*.xml
.idea/runConfigurations.xml
*.xml
FeedMePizza.iml
*.iml
.idea/misc.xml
*.gradle
app/app.iml
*.name
settings.gradle
.idea/vcs.xml
.idea/modules.xml
.idea/.name
settings.gradle
.idea/runConfigurations.xml
.idea/compiler.xml

*.xml

.idea/.name

.idea/vcs.xml

app/app.iml

MyApplication.iml

settings.gradle
